@import "../../../../scss/mixins";



#about {
    padding-top: 100px;

    .container {
        .row {
            justify-content: space-between;

            .about-left {
                // width: 33.3333333333%;

                .section-title {
                    margin-bottom: 40px;

                    h2 {
                        @include secondaryHeader;
                    }

                    a {
                        @include primaryBtn;
                        padding: 22px 41px;
                        margin-top: 20px;


                    }

                }
            }

            .about-right {
                // width: 50%;

                .section-title {
                    margin-bottom: 40px;


                    p {
                        color: $primaryText-grey;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 1.5;
                        margin-bottom: 15px;
                    }
                }

                .counting-box {
                    display: flex;
                    justify-content: space-between;

                    .count {
                        .counter-number {
                            span {
                                font-family: "BarlowBold";
                                color: $primaryPink;
                                font-size: 50px;
                                font-weight: 700;
                                line-height: 1;
                                margin-bottom: 12px;
                                display: inline-block;
                            }
                        }

                        .counter-text {
                            p {
                                font-family:"MitrMedium" ;
                                color: $primaryText-grey;
                                text-transform: uppercase;
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 1;
                                margin: 0;
                                padding: 0;
                                display: inline-block
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:576px){
    .main{
        #about {
        .container {
            max-width: 540px;
            
        }
    }
    }
};

@media (min-width:767px){
    .main{
         #about  {
        .container {
            max-width: 720px;
            .row {
                .about-left{
                    width: 50%;
                }
                .about-right{
                    width: 100%;
                }
            }
        }
    }
    }
};
@media (min-width:992px){
    .main{
         #about  {
        .container {
            max-width: 900px;
            .row {
                .about-left{
                    width: 40.3%;
                    .section-title{
                        h2{
                            width: 60%;
                        
                        }
                       }
                }
                .about-right{
                    width: 58.3%;
                }
                
            }
        }
    }
    }
};

@media (min-width:1200px){
    .main{
        #about  {
        .container {
            max-width: 1140px;
            .row {
                .about-left{
                    width: 33.3%;
                }
                .about-right{
                    width: 50%;
                }
            }
        }
    }
    }
};

@media (min-width:1400px){
    .main{
        #about  {
        .container {
            max-width: 1320px;
            .row {
                .about-left{
                    .section-title{
                     h2{
                         width: 80%;
                       
                     }
                    }
                 } 
            }
        }
    }
    }
};

@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .main{
        #about  {
        .container {
           
            .row {
                .about-left{
                   .section-title{
                    h2{
                        width: 80%;
                        font-size: 40px; 
                    }
                   }
                }
            }
        }
    }
    } 
};

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .main{
        #about  {
        .container {
           
            .row {
                .about-left{
                   .section-title{
                    h2{
                       
                        font-size: 30px;
                    }
                   }
                }
            }
        }
    }
    } 
};

@media only screen and (min-width: 992px) and (max-width: 1002px){
    .main{
        #about  {
        .container {
           
            .row {
                .about-left{
                   .section-title{
                    h2{
                        width: 59.333%;
                        font-size: 30px;
                    }
                   }
                }
            }
        }
    }
    } 
};

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main{
        #about  {
        .container {
           
            .row {
                .about-left{
                   .section-title{
                    h2{
                        width: 60%;
                        font-size: 30px;
                    }
                   }
                }
            }
        }
    }
    } 
};


    







@media (max-width:767px){
    .main{
        #about  {
        .container {
           
            .row {
               
                .about-left{
                   .section-title{
                    h2{
                        
                        font-size: 31px;
                    }
                   }
                }
            }
        }
    }
    } 

}

@media (max-width: 576px){
    .main{
        #about  {
        .container {
           
            .row {
                margin-left: 0px;
                .about-left{
                   .section-title{
                    h2{

                        font-size: 24px;
                    }
                   }
                }
                .about-right{
                    .counting-box{
                        display: flex;
                        flex-direction: column;
                      .count{
                        margin-bottom: 30px;
                      }
                    }
                }
            }
        }
    }
    }  
};