.main {
    #blog {
        .container {
            .row {
 
                .single-blog-box {
                    display: flex;
                
                   
                    .single-blog {
                        margin-bottom: 30px;
                        padding: 0 10px;
                        &:hover{
                            .blog-img{
                                a{
                                    img{
                                        transform: scale(1.05);
                                    }
                                }
                            }
                            .blog-caption{
                                h5{
                                    a{
                                        color: $generalYellow;
                                    }
                                }
                            }
                        }

                        .blog-img {
                            margin-bottom: 25px;
                            width: 100%;
                            overflow: hidden;

                            a {
                                img {
                                    display: inherit;
                                    transition: all .4s ease-out 0s;
                                    width: 100%;
                                }
                            }
                        }

                        .blog-caption {
                            h5 {
                                margin-bottom: 8px;
                                line-height: 1.2;
                                a {
                                    font-family: "Barlow", sans-serif;
                                    color: $primaryWhite;
                                    font-size: 20px;
                                    line-height: 1.4;
                                    margin-bottom: 12px;
                                    font-weight: 600;
                                    display: block;
                                    text-transform: uppercase;
                                }
                            }

                            p {
                                color: $primaryText-grey;
                                font-size: 20px;
                                font-weight: 400;
                                margin-bottom: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:280px) and (max-width:576px){
    .main {
        #blog {

            .container {
                max-width: 540px;
                .row{
                    .single-blog-box{
                        display: flex;
                     flex-direction: column;
                        .single-blog{
                            width: 100%;
                        }
                    }
                }
                }
            }
        } 
}
@media (min-width: 576px) {
    .main {
        #blog {

            .container {
                max-width: 540px;
                .row{
                    .single-blog-box{
                        .single-blog{
                            width: 100%;
                        }
                    }
                }
                }
            }
        }
    }
   
// @media (max-width:575px){
//     .main{
//         #blog{
//             .container{
//                max-width: 576px;
//                 .row{
//                     .single-blog-box{
//                        display: flex;
//                        flex-direction: column;
                        
//                         .single-blog{
//                             width: 100%;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }


@media (min-width: 768px) {
    .main {
        #blog {

            .container {
                max-width: 720px;
                .row{
                    .single-blog-box{
                        // display: flex;
                        // flex-wrap: wrap;
                        width: 100%;
                        .single-blog{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media  (min-width:576px) and (max-width:769px) {
    .main {
        #blog {

            .container {
                max-width: 720px;
                .row{
                    .single-blog-box{
                         display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        .single-blog{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .main {
        #blog {
            .container {
                max-width: 960px;
        }
    }
}
}

@media (min-width: 1200px) {
    .main {
        #blog {
            .container {
                max-width: 1169px;
        }
    }
}
}

@media (min-width:1440px) {
    .main {
        #blog {
            .container {
                max-width: 1390px;
        }
    }
}
}




// @media(max-width:576px){
//     .main {
//         #blog {

//             .container {
             
//                 .row{
//                     .single-blog-box{
//                     display: flex;
//                     flex-direction: column;
//                         .single-blog{
//                             width: 100%;
//                         }
//                     }
//                 }
//                 }
//             }
//         }
//     };