.main {
    #brands {
        padding-top: 100px;
        position: relative;

        .bg-shape {

            position: absolute;
            background-image: url(../images/shape.png.webp);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            top: 0;
            left: 0;
            height: 235px;
            width: 100%;

        }

        .container {

            z-index: 99999999;

            .brand-row {
                background-color: #0e0e0e;
                padding: 45px 50px;

                .brand-title {
                    h2 {
                        color: $primaryWhite;
                        font-family: "Mitr", sans-serif;
                        font-size: 50px;
                        display: flex;
                        justify-content: center;
                        font-weight: 700;
                        line-height: 1.3;
                        margin-bottom: 12px;
                        text-transform: uppercase;
                    }
                }

                .swiper-box {
                    padding-bottom: 40px;
                    padding-top: 50px;

                }
            }
        }

    }
}
@media (min-width: 576px) {
    .main {
        #brands {
        

            .container {
                max-width: 540px;
            }

        }
    }
}
@media (min-width: 768px) {
    .main {
        #brands {
        

            .container {
                max-width: 720px;
            }

        }
    }
}
@media (min-width: 992px) {
    .main {
        #brands {
        

            .container {
                max-width: 960px;
            }

        }
    }
}
@media (min-width: 1200px) {
    .main {
        #brands {
        

            .container {
                max-width: 1190px;
            }

        }
    }
}
@media (min-width: 1400px) {
    .main {
        #brands {
        

            .container {
                max-width: 1320px;
            }

        }
    }
}




