@font-face {
  font-family: "Barlow", sans-serif;
  src: url(../fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: "BarlowMedium";
  src: url(../fonts/Barlow/Barlow-Medium.ttf);
}
@font-face {
  font-family: "BarlowBold";
  src: url(../fonts/Barlow/Barlow-Bold.ttf);
}
@font-face {
  font-family: "Mitr";
  src: url(../fonts/Mitr/Mitr-SemiBold.ttf);
}
@font-face {
  font-family: "MitrMedium";
  src: url(../fonts/Mitr/Mitr-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 18px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
  margin-right: 12px;
}

body {
  background: #0B0016;
}

#main-icon {
  background-color: #FFBD00;
  height: 40px;
  width: 40px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  z-index: 999999;
}
#main-icon .evento-icon {
  position: relative;
}
#main-icon .evento-icon .main-icon-items {
  position: absolute;
  text-align: center;
  bottom: -3px;
  margin: 0 auto;
  display: block;
  right: 7px;
}
#main-icon .evento-icon .main-icon-items .angle-previous {
  animation: eventoAnimation 3s ease-in-out infinite;
  padding: 7px;
  box-shadow: 2px -2px #fff inset;
  transform: rotate(130deg);
  opacity: 0;
  position: absolute;
}
#main-icon .evento-icon .main-icon-items .angle-next {
  animation: eventoAnimation 3s 1s ease-in-out infinite;
  padding: 7px;
  box-shadow: 2px -2px #fff inset;
  transform: rotate(130deg);
  opacity: 0;
  position: absolute;
}

@keyframes eventoAnimation {
  10% {
    top: 15px;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
#footer .footer-area {
  padding-top: 99px;
  padding-bottom: 0;
}
#footer .footer-area .footer-wrapper {
  padding: 0px 50px;
  width: 100%;
}
#footer .footer-area .footer-wrapper .container .row {
  justify-content: space-between;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box {
  width: 26%;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption {
  margin-bottom: 50px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-logo {
  margin-bottom: 25px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-logo a img {
  width: 163px;
  height: 50px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-title {
  color: #9B9EAC;
  font-weight: 300;
  margin-bottom: 22px;
  line-height: 1.8;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-social {
  display: flex;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-social .social-items .social-icon {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 43px;
  border-radius: 50%;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-social .social-items .social-icon img {
  width: 14px;
  height: 14px;
  transition: 0.5s;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-social .social-items .social-icon img:hover {
  transform: rotateY(180deg);
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-social .social-items .facebook-icon {
  background-color: #3B5998;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-social .social-items .youtube-icon {
  background-color: #FF0000;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-social .social-items .linkedin-icon {
  background-color: #0077B5;
}
#footer .footer-area .footer-wrapper .container .row .bottom-logo-box .single-footer-caption .footer-social .social-items .instagram-icon {
  background-color: #405DE6;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box {
  width: 26%;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box .single-footer-caption {
  margin-bottom: 50px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box .single-footer-caption h4 {
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box .single-footer-caption .contact-list .contact-item {
  margin-bottom: 6px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box .single-footer-caption .contact-list .contact-item a {
  color: #9B9EAC;
  font-weight: 300;
  font-size: 16px;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  transition: all 0.3s ease-out 0s;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box .single-footer-caption .contact-list .contact-item a:hover {
  text-decoration: underline;
  color: #fff;
  padding-left: 2px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box .single-footer-caption .contact-list .number {
  margin-bottom: 6px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box .single-footer-caption .contact-list .number a {
  font-family: "Barlow", sans-serif;
  font-size: 26px;
  color: #FFBD00;
  margin-bottom: 10px;
  font-weight: 400;
  display: block;
  transition: all 0.3s ease-out 0s;
}
#footer .footer-area .footer-wrapper .container .row .bottom-contact-box .single-footer-caption .contact-list .number a:hover {
  text-decoration: underline;
  padding-left: 2px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box {
  width: 33.3%;
}
#footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box .single-footer-caption .subs-title h4 {
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}
#footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box .single-footer-caption .subs-title p {
  color: #9B9EAC;
  font-weight: 300;
}
#footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box .single-footer-caption .subs-form {
  margin-top: 10px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box .single-footer-caption .subs-form form input {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 52px;
  padding: 10px 10px;
  background: none;
  color: #fff;
  border-radius: 0px;
  text-align: left;
}
#footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box .single-footer-caption .subs-form form .subs-btn {
  border: 1px solid transparent;
  background: #FFBD00;
  padding: 14px 33px 14px 34px;
  text-transform: uppercase;
  cursor: pointer;
  color: #0B0016;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  transition: all 0.3s ease-out;
  margin-top: 10px;
}
#footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box .single-footer-caption .subs-form form .subs-btn:hover {
  border: 1px solid #FFBD00;
  background-color: transparent;
  color: #FFBD00;
}
#footer .footer-area .footer-wrapper .footer-bottom-area .container .footer-border {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 23px;
  padding-bottom: 10px;
}
#footer .footer-area .footer-wrapper .footer-bottom-area .container .footer-border .row {
  align-items: center;
  justify-content: center;
}
#footer .footer-area .footer-wrapper .footer-bottom-area .container .footer-border .row p {
  color: #9B9EAC;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 12px;
}
#footer .footer-area .footer-wrapper .footer-bottom-area .container .footer-border .row p a {
  color: #FFBD00;
}

@media (min-width: 576px) {
  #footer .footer-area .footer-wrapper .container {
    max-width: 540px;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-logo-box {
    width: 50%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-contact-box {
    width: 41%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box {
    width: 73%;
  }
}
@media (min-width: 768px) {
  #footer .footer-area .footer-wrapper .container {
    max-width: 720px;
  }
  #footer .footer-area .footer-wrapper .container .row .row .bottom-logo-box {
    width: 50%;
  }
  #footer .footer-area .footer-wrapper .container .row .row .bottom-contact-box {
    width: 33.3%;
  }
  #footer .footer-area .footer-wrapper .container .row .row .bottom-subscribe-box {
    width: 66%;
  }
}
@media (min-width: 992px) {
  #footer .footer-area .footer-wrapper .container {
    max-width: 960px;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-logo-box {
    width: 33.3%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-contact-box {
    width: 33.3%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box {
    width: 33.3%;
  }
}
@media (max-width: 991px) {
  #footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box {
    width: 98%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box .single-footer-caption .subs-form {
    margin-bottom: 50px;
  }
  #footer .footer-area .footer-wrapper .footer-bottom-area .container .footer-border .row p {
    text-align: center;
  }
  #footer .footer-area .footer-wrapper .footer-bottom-area .container .footer-border .row p a {
    color: #FFBD00;
  }
}
@media (min-width: 1200px) {
  #footer .footer-area .footer-wrapper .container {
    max-width: 1120px;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-logo-box {
    width: 30%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-contact-box {
    width: 30%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box {
    width: 33.3%;
  }
}
@media (min-width: 1400px) {
  #footer .footer-area .footer-wrapper .container {
    max-width: 1280px;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-logo-box {
    width: 27%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-contact-box {
    width: 27%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box {
    width: 32.3%;
  }
}
@media (max-width: 576px) {
  #footer .footer-area .footer-wrapper {
    padding: 0;
  }
  #footer .footer-area .footer-wrapper .container {
    max-width: 960px;
  }
  #footer .footer-area .footer-wrapper .container .row {
    flex-direction: column;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-logo-box {
    width: 98%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-contact-box {
    width: 98%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box {
    width: 98%;
  }
  #footer .footer-area .footer-wrapper .container .row .bottom-subscribe-box .single-footer-caption .subs-form {
    margin-bottom: 50px;
  }
}
@media (min-width: 576px) {
  #footer .footer-area .footer-wrapper .footer-bottom-area .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  #footer .footer-area .footer-wrapper .footer-bottom-area .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #footer .footer-area .footer-wrapper .footer-bottom-area .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  #footer .footer-area .footer-wrapper .footer-bottom-area .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  #footer .footer-area .footer-wrapper .footer-bottom-area .container {
    max-width: 1320px;
  }
}
.header {
  height: 86px;
}
.header .header-area .main-header {
  width: 100%;
  background: #0a0a0a;
  box-shadow: 15px 10px 15px rgba(25, 25, 25, 0.1);
  position: fixed;
  z-index: 9999;
  height: 86px;
}
.header .header-area .main-header .container .row {
  align-items: center;
}
.header .header-area .main-header .container .row .logoMain {
  padding-inline: 12px;
  width: 14%;
}
.header .header-area .main-header .container .row .mainMenu {
  width: 86%;
  padding-inline: 8px;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList {
  display: flex;
  align-items: center;
  justify-content: right;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem {
  margin: 0px 14px;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem:last-child {
  margin: 0;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem a {
  font-family: "Barlow";
  color: #fff;
  font-weight: 600;
  padding: 31px 7px;
  display: block;
  font-size: 16px;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  position: relative;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem a:hover {
  color: #FF60CE;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem .header-right-btn {
  margin-left: 15px;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem .header-right-btn .general-btn {
  border: 1px solid transparent;
  background: #FFBD00;
  padding: 14px 33px 14px 34px;
  text-transform: uppercase;
  cursor: pointer;
  color: #0B0016;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  transition: all 0.3s ease-out;
  line-height: 22px;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem .header-right-btn .general-btn:hover {
  border: 1px solid #FFBD00;
  background-color: transparent;
  color: #FFBD00;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem .header-right-btn .general-btn i {
  padding: 0 6px 0 10px;
}
.header .header-area .main-header .container .row .mainMenu .navBar .navList .navItem .header-right-btn .general-btn i::before {
  font-size: 18px;
  font-weight: 600;
}
.header .header-area .mobileBox {
  display: none;
  width: 100%;
}
.header .header-area .mobileBox .mobile-menu {
  height: 54px;
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 99;
}
.header .header-area .mobileBox .mobile-menu .m-menu {
  height: 54px;
  font-size: 16px;
  background: #4c4c4c;
  padding: 5px;
}
.header .header-area .mobileBox .mobile-menu .m-menu a {
  display: flex;
  justify-content: right;
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  background-color: #222;
}
.header .header-area .mobileBox .mobile-menu .m-menu a span {
  display: block;
  line-height: 19px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 3px #000;
}
.header .header-area .mobileBox .mobile-menu .m-menu a img {
  color: #fff;
  width: 18px;
  height: 14px;
  margin: 3px 0 0 7px;
}

@media (max-width: 576px) {
  .header .header-area .main-header {
    padding: 0px 0px;
    width: 100%;
  }
  .header .header-area .main-header .container {
    max-width: 500px;
  }
  .header .header-area .main-header .container .row {
    margin-left: -17px;
  }
}
@media (min-width: 576px) {
  .header .header-area .main-header .container {
    max-width: 720px;
  }
}
@media (min-width: 768px) {
  .header .header-area .main-header .container {
    max-width: 880px;
  }
  .header .header-area .main-header .container .row .logoMain {
    width: 14%;
  }
}
@media (min-width: 992px) {
  .header .header-area .main-header .container {
    max-width: 960px;
  }
  .header .header-area .main-header .container .row .logoMain {
    width: 14%;
  }
}
@media (max-width: 992px) {
  .header .header-area .main-header {
    padding: 0px 0px;
    width: 100%;
  }
  .header .header-area .main-header .container .row .logoMain {
    padding-top: 30px;
  }
  .header .header-area .main-header .container .row .mainMenu {
    display: none;
  }
  .header .header-area .main-header .mobileBox {
    display: inline-block;
  }
  .header .header-area .main-header .mobileBox .mobile-menu {
    height: 54px;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
  }
  .header .header-area .main-header .mobileBox .mobile-menu .m-menu {
    height: 54px;
    font-size: 16px;
    background: #4c4c4c;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
  }
  .header .header-area .main-header .mobileBox .mobile-menu .m-menu a {
    display: flex;
    width: 86px;
    height: 33px;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #222;
  }
  .header .header-area .main-header .mobileBox .mobile-menu .m-menu a span {
    display: block;
    line-height: 19px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 3px #000;
  }
  .header .header-area .main-header .mobileBox .mobile-menu .m-menu a img {
    color: #fff;
    width: 18px;
    height: 14px;
    margin: 3px 0 0 7px;
  }
}
@media (max-width: 1200px) {
  .header .header-area .main-header {
    width: 100%;
  }
  .header .header-area .main-header .container .row .logoMain {
    width: 14%;
  }
  .header .header-area .main-header .container .row .mainMenu {
    width: 86%;
  }
  .header .header-area .main-header .container .row .mainMenu .navBar .navItem .header-right-btn {
    display: none;
  }
  .header .header-area .mobileBox {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header .header-area .main-header {
    padding: 0px 50px;
    width: 100%;
  }
  .header .header-area .main-header .container {
    max-width: 1320px;
  }
  .header .header-area .main-header .container .row .logoMain {
    width: 14%;
  }
  .header .header-area .main-header .container .row .mainMenu {
    width: 86%;
  }
  .header .header-area .mobileBox {
    display: none;
  }
}
@media (min-width: 1400px) {
  .header .header-area .main-header {
    padding: 0px 50px;
    width: 100%;
  }
  .header .header-area .main-header .container {
    max-width: 1320px;
  }
  .header .header-area .main-header .container .row .logoMain {
    width: 14%;
  }
  .header .header-area .main-header .container .row .mainMenu {
    width: 86%;
  }
  .header .header-area .mobileBox {
    display: none;
  }
}
.main #hero .hero-bg {
  height: 950px;
  background-image: linear-gradient(to top, rgba(0, 0, 20, 0.86), transparent), linear-gradient(to bottom, rgba(0, 0, 20, 0.3), transparent), radial-gradient(circle, rgba(255, 255, 255, 0.0734418768) 0%, rgba(29, 4, 72, 0.5636379552) 100%), radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(29, 4, 72, 0) 100%), url(../images/h1_hero1.jpg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 999;
}
.main #hero .hero-bg .container {
  position: relative;
  max-width: 1320px;
}
.main #hero .hero-bg .container .row .hero-caption-box {
  padding: 0 20px;
}
.main #hero .hero-bg .container .row .hero-caption-box .hero-caption {
  padding-top: 180px;
}
.main #hero .hero-bg .container .row .hero-caption-box .hero-caption h1 {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 64px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Mitr", sans-serif;
  animation-delay: 0.2s;
}
.main #hero .hero-bg .container .row .hero-caption-box .hero-caption h1 span {
  color: #FFBD00;
  display: block;
  font-family: "Mitr", sans-serif;
}
.main #hero .hero-bg .container .row .hero-caption-box .hero-caption .video-icon {
  padding-left: 31px;
  position: relative;
}
.main #hero .hero-bg .container .row .hero-caption-box .hero-caption .video-icon .video-bg {
  position: absolute;
  left: 2px;
  top: -27px;
  z-index: -1;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: grey;
  opacity: 0.4;
  animation: videoPlay 2s infinite ease-in-out;
}
.main #hero .hero-bg .container .row .hero-caption-box .hero-caption .video-icon a {
  background: #fff;
  width: 54px;
  height: 54px;
  display: inline-block;
  text-align: center;
  line-height: 62px;
  padding-inline: 18px;
  border-radius: 50%;
  outline: 1.5px solid #FF60CE;
  transition: all 0.3s ease;
}
.main #hero .hero-bg .container .row .hero-caption-box .hero-caption .video-icon a:hover {
  background-color: #FFBD00;
}
.main #hero .hero-bg .container .row .hero-caption-box .hero-caption .video-icon a .video-player-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.main #hero .hero-bg .container .hero-footer {
  position: absolute;
  bottom: -140px;
  right: 70px;
  text-align: right;
}
.main #hero .hero-bg .container .hero-footer h4 {
  color: #FF60CE;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-family: "Mitr";
}
.main #hero .hero-bg .container .hero-footer p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 1.4;
}
.main #hero .hero-bg .container .hero-footer .hero-button-btn {
  color: #FFBD00;
  border: 1px solid #FFBD00;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 32px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  background: none;
  transition: all 0.3s ease-out;
}
.main #hero .hero-bg .container .hero-footer .hero-button-btn:hover {
  background-color: #FFBD00;
  border: 1px solid #FFBD00;
  color: #fff;
}

@keyframes videoPlay {
  0% {
    box-shadow: 0 0 10px 5px rgba(119, 119, 119, 0.8);
    transform: scale(0.9);
    opacity: 0, 8;
  }
  50% {
    box-shadow: 0 0 20px 15px rgba(179, 178, 176, 0.56);
    transform: scale(1.1);
    opacity: 0.4;
  }
  100% {
    box-shadow: 0 0 30px 25px rgba(133, 133, 132, 0);
    transform: scale(1.5);
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .main #hero .hero-bg .container {
    max-width: 977px;
  }
}
@media (min-width: 992px) {
  .main #hero .hero-bg .container {
    max-width: 960px;
  }
  .main #hero .hero-bg .container .row .hero-caption-box {
    width: 100%;
  }
  .main #hero .hero-bg .container .row .hero-caption-box .hero-caption h1 {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .main #hero .hero-bg .container {
    max-width: 1190px;
  }
}
@media (min-width: 1400px) {
  .main #hero .hero-bg .container {
    max-width: 1320px;
  }
}
@media (max-width: 992px) {
  .main #hero .hero-bg {
    height: 1020px;
    background-size: 100% 100% 100%;
  }
  .main #hero .hero-bg .container .row .hero-caption-box {
    width: 0%;
  }
  .main #hero .hero-bg .container .row .hero-caption-box .hero-caption {
    padding-top: 100px;
  }
  .main #hero .hero-bg .container .row .hero-caption-box .hero-caption h1 {
    font-size: 75px;
  }
  .main #hero .hero-bg .container .hero-footer {
    bottom: -160px;
    right: 45px;
  }
  .main #hero .hero-bg .container .hero-footer h4 {
    font-size: 55px;
  }
  .main #hero .hero-bg .container .hero-footer p {
    font-size: 19px;
  }
}
@media (max-width: 767px) {
  .main #hero .hero-bg {
    height: 500px;
    background-size: 100% 100% 100%;
  }
  .main #hero .hero-bg .container .row .hero-caption-box {
    width: 0%;
  }
  .main #hero .hero-bg .container .row .hero-caption-box .hero-caption {
    padding-top: 100px;
  }
  .main #hero .hero-bg .container .row .hero-caption-box .hero-caption h1 {
    font-size: 65px;
  }
  .main #hero .hero-bg .container .hero-footer {
    bottom: -160px;
    right: 45px;
  }
  .main #hero .hero-bg .container .hero-footer h4 {
    font-size: 45px;
  }
  .main #hero .hero-bg .container .hero-footer p {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .main #hero .hero-bg {
    height: 500px;
    background-size: 100% 50% 50% 100%;
    background-position: center;
  }
  .main #hero .hero-bg .container .row {
    margin-left: -21px;
  }
  .main #hero .hero-bg .container .row .hero-caption-box {
    width: 20%;
  }
  .main #hero .hero-bg .container .row .hero-caption-box .hero-caption {
    padding-top: 80px;
  }
  .main #hero .hero-bg .container .row .hero-caption-box .hero-caption h1 {
    font-size: 45px;
  }
  .main #hero .hero-bg .container .hero-footer {
    bottom: -160px;
    right: 15px;
  }
  .main #hero .hero-bg .container .hero-footer h4 {
    font-size: 33px;
  }
  .main #hero .hero-bg .container .hero-footer p {
    font-size: 14px;
  }
}
#about {
  padding-top: 100px;
}
#about .container .row {
  justify-content: space-between;
}
#about .container .row .about-left .section-title {
  margin-bottom: 40px;
}
#about .container .row .about-left .section-title h2 {
  color: #fff;
  font-family: "Mitr", sans-serif;
  font-size: 50px;
  display: block;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 12px;
  text-transform: uppercase;
}
#about .container .row .about-left .section-title a {
  border: 1px solid transparent;
  background: #FFBD00;
  padding: 14px 33px 14px 34px;
  text-transform: uppercase;
  cursor: pointer;
  color: #0B0016;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0px;
  transition: all 0.3s ease-out;
  padding: 22px 41px;
  margin-top: 20px;
}
#about .container .row .about-left .section-title a:hover {
  border: 1px solid #FFBD00;
  background-color: transparent;
  color: #FFBD00;
}
#about .container .row .about-right .section-title {
  margin-bottom: 40px;
}
#about .container .row .about-right .section-title p {
  color: #9B9EAC;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 15px;
}
#about .container .row .about-right .counting-box {
  display: flex;
  justify-content: space-between;
}
#about .container .row .about-right .counting-box .count .counter-number span {
  font-family: "BarlowBold";
  color: #FF60CE;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 12px;
  display: inline-block;
}
#about .container .row .about-right .counting-box .count .counter-text p {
  font-family: "MitrMedium";
  color: #9B9EAC;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;
  display: inline-block;
}

@media (min-width: 576px) {
  .main #about .container {
    max-width: 540px;
  }
}
@media (min-width: 767px) {
  .main #about .container {
    max-width: 720px;
  }
  .main #about .container .row .about-left {
    width: 50%;
  }
  .main #about .container .row .about-right {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main #about .container {
    max-width: 900px;
  }
  .main #about .container .row .about-left {
    width: 40.3%;
  }
  .main #about .container .row .about-left .section-title h2 {
    width: 60%;
  }
  .main #about .container .row .about-right {
    width: 58.3%;
  }
}
@media (min-width: 1200px) {
  .main #about .container {
    max-width: 1140px;
  }
  .main #about .container .row .about-left {
    width: 33.3%;
  }
  .main #about .container .row .about-right {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .main #about .container {
    max-width: 1320px;
  }
  .main #about .container .row .about-left .section-title h2 {
    width: 80%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .main #about .container .row .about-left .section-title h2 {
    width: 80%;
    font-size: 40px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main #about .container .row .about-left .section-title h2 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1002px) {
  .main #about .container .row .about-left .section-title h2 {
    width: 59.333%;
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main #about .container .row .about-left .section-title h2 {
    width: 60%;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .main #about .container .row .about-left .section-title h2 {
    font-size: 31px;
  }
}
@media (max-width: 576px) {
  .main #about .container .row {
    margin-left: 0px;
  }
  .main #about .container .row .about-left .section-title h2 {
    font-size: 24px;
  }
  .main #about .container .row .about-right .counting-box {
    display: flex;
    flex-direction: column;
  }
  .main #about .container .row .about-right .counting-box .count {
    margin-bottom: 30px;
  }
}
.main #speakers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.main #speakers .container .row .speakers-header {
  width: 100%;
  padding-inline: 6px;
}
.main #speakers .container .row .speakers-header .speakers-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.main #speakers .container .row .speakers-header .speakers-top-content h2 {
  color: #fff;
  font-family: "Mitr", sans-serif;
  font-size: 50px;
  display: block;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.main #speakers .container .row .speakers-header .speakers-top-content a {
  color: #FFBD00;
  border: 1px solid #FFBD00;
  text-transform: uppercase;
  display: inline-block;
  padding: 14px 32px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  background: none;
  transition: all 0.3s ease-out;
}
.main #speakers .container .row .speakers-header .speakers-top-content a:hover {
  background-color: #FFBD00;
  border: 1px solid #FFBD00;
  color: #fff;
}
.main #speakers .container .swiper-box {
  position: relative;
  justify-content: center;
}
.main #speakers .container .swiper-box .swiper-button-prev {
  position: absolute;
  color: #FF60CE;
  opacity: 0.4;
  z-index: 99;
  left: 80px;
}
.main #speakers .container .swiper-box .swiper-button-prev:hover {
  color: #FF60CE;
  opacity: 1;
}
.main #speakers .container .swiper-box .swiper-button-prev::after {
  font-size: 20px;
}
.main #speakers .container .swiper-box .swiper-button-next {
  position: absolute;
  color: #FF60CE;
  opacity: 0.4;
  z-index: 99;
  right: 80px;
}
.main #speakers .container .swiper-box .swiper-button-next:hover {
  color: #FF60CE;
  opacity: 1;
}
.main #speakers .container .swiper-box .swiper-button-next::after {
  font-size: 20px;
}
.main #speakers .container .swiper-box .swiper {
  width: 80%;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide:hover .slide-img img:hover {
  transform: scale(1.1);
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide:hover .slide-img .team-social .team-social-list .team-social-item a {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img {
  overflow: hidden;
  margin-bottom: 19px;
  position: relative;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img img {
  width: 100%;
  transition: all 0.6s ease-out 0s;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img .team-social {
  position: absolute;
  bottom: 22px;
  left: 0;
  right: 0;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img .team-social .team-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img .team-social .team-social-list .team-social-item a {
  color: #fff;
  background: #FF60CE;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin-left: 8px;
  display: inline-block;
  transform: translateY(60px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img .team-social .team-social-list .team-social-item a:hover {
  background-color: #FFBD00;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img-content .person-info h3 {
  margin-bottom: 3px;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img-content .person-info h3 a {
  color: #FFBD00;
  font-weight: 600;
  font-size: 24px;
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease-out 0s;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img-content .person-info h3 a:hover {
  color: #FF60CE;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img-content .person-info p {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 19px;
}
.main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img-content .person-info p span {
  color: #9B9EAC;
  font-size: 20px;
}

@media (max-width: 576px) {
  .main #speakers .container .row .speakers-header .speakers-top-content {
    display: flex;
    flex-direction: column;
  }
  .main #speakers .container .row .speakers-header .speakers-top-content h2 {
    width: 100%;
    font-size: 24px;
  }
  .main #speakers .container .row .speakers-header .speakers-top-content .speakers-btn {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .main #speakers .container {
    max-width: 720px;
  }
}
@media (min-width: 768px) {
  .main #speakers .container {
    max-width: 720px;
  }
  .main #speakers .container .swiper-box .swiper-button-next {
    right: 40px;
  }
  .main #speakers .container .swiper-box .swiper-button-prev {
    left: 40px;
  }
}
@media (max-width: 768px) {
  .main #speakers .container .swiper-box .swiper-button-next, .main #speakers .container .swiper-box .swiper-button-prev {
    display: none;
  }
}
@media (min-width: 992px) {
  .main #speakers .container {
    max-width: 960px;
    padding: 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1399px) {
  .main #speakers .container {
    padding: 30px;
  }
}
@media (min-width: 1200px) {
  .main #speakers .container {
    max-width: 1150px;
    padding: 30px;
  }
  .main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img img {
    width: 285px;
    height: 281px;
  }
}
@media (min-width: 1400px) {
  .main #speakers .container {
    max-width: 1320px;
  }
  .main #speakers .container .row {
    max-width: 1200px;
  }
  .main #speakers .container .swiper-box {
    max-width: 1200px;
    padding: 0 53px;
  }
  .main #speakers .container .swiper-box .swiper-button-prev {
    left: -40px;
  }
  .main #speakers .container .swiper-box .swiper-button-next {
    right: 0px;
  }
  .main #speakers .container .swiper-box .swiper {
    width: 100%;
  }
  .main #speakers .container .swiper-box .swiper .swiper-wrapper .swiper-slide .slide-img img {
    width: 335px;
    height: 330px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .main #speakers .container .row .speakers-header .speakers-top-content h2 {
    font-size: 40px;
  }
}
.main #citywide .container .row .citywide-left {
  width: 56%;
  padding-inline: 16px;
}
.main #citywide .container .row .citywide-left .citywide-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 610px;
}
.main #citywide .container .row .citywide-right {
  width: 44%;
  display: flex;
  padding-inline: 10px;
  align-items: center;
}
.main #citywide .container .row .citywide-right .citywide-content {
  margin-bottom: 25px;
}
.main #citywide .container .row .citywide-right .citywide-content .citywide-title {
  color: #fff;
  font-family: "Mitr", sans-serif;
  font-size: 50px;
  display: block;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.main #citywide .container .row .citywide-right .citywide-content .citywide-title span {
  color: #FFBD00;
  display: block;
  font-family: "Mitr", sans-serif;
}
.main #citywide .container .row .citywide-right .citywide-content p {
  color: #9B9EAC;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

@media (min-width: 576px) {
  .main #citywide .container {
    max-width: 540px;
  }
  .main #citywide .container .row .citywide-left {
    width: 100%;
  }
  .main #citywide .container .row .citywide-right {
    width: 100%;
  }
  .main #citywide .container .row .citywide-right .citywide-content p {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .main #citywide .container {
    max-width: 720px;
  }
  .main #citywide .container .row .citywide-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .main #citywide .container .row .citywide-right {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main #citywide .container {
    max-width: 960px;
  }
  .main #citywide .container .row .citywide-left {
    width: 50%;
  }
  .main #citywide .container .row .citywide-right {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .main #citywide .container {
    max-width: 1120px;
  }
  .main #citywide .container .row .citywide-left {
    width: 58%;
  }
  .main #citywide .container .row .citywide-right {
    width: 41.67%;
  }
}
@media (min-width: 1400px) {
  .main #citywide .container {
    max-width: 1320px;
  }
  .main #citywide .container .row .citywide-left {
    width: 58%;
  }
  .main #citywide .container .row .citywide-right {
    width: 33.3%;
    margin-left: 8.3%;
  }
}
@media (max-width: 575px) {
  .main #citywide .container {
    max-width: 540px;
  }
  .main #citywide .container .row {
    width: 100%;
  }
  .main #citywide .container .row .citywide-left {
    width: 100%;
  }
  .main #citywide .container .row .citywide-left .citywide-img {
    margin-bottom: 20px;
  }
  .main #citywide .container .row .citywide-left .citywide-img img {
    width: 96%;
    height: 400px;
  }
  .main #citywide .container .row .citywide-right {
    width: 100%;
  }
  .main #citywide .container .row .citywide-right .citywide-content .citywide-title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main #citywide .container .row .citywide-right .citywide-content .citywide-title {
    width: 50%;
    font-size: 31px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .main #citywide .container .row .citywide-right .citywide-content .citywide-title {
    width: 45%;
    font-size: 30px;
  }
  .main #citywide .container .row .citywide-right .citywide-content p {
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main #citywide .container .row .citywide-left .citywide-img img {
    margin-bottom: 35px;
  }
  .main #citywide .container .row .citywide-right .citywide-content .citywide-title {
    font-size: 31px;
  }
  .main #citywide .container .row .citywide-right .citywide-content p {
    margin-bottom: 15px;
  }
}
.main #schedule {
  padding-top: 120px;
  padding-bottom: 120px;
}
.main #schedule .container .row .schedule-title-box {
  width: 41.6666666667%;
}
.main #schedule .container .row .schedule-title-box .section-title {
  margin-bottom: 30px;
}
.main #schedule .container .row .schedule-title-box .section-title h2 {
  color: #fff;
  font-family: "Mitr", sans-serif;
  font-size: 50px;
  display: block;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.main #schedule .container .schedule-content {
  display: flex;
  justify-content: center;
}
.main #schedule .container .schedule-content .schedule-content-box {
  width: 91.6666666667%;
}
.main #schedule .container .schedule-content .schedule-content-box .navBox {
  padding: 40px 30px;
  background: #0e0e0e;
}
.main #schedule .container .schedule-content .schedule-content-box .navBox nav .navContent {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 0px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
}
.main #schedule .container .schedule-content .schedule-content-box .navBox nav .navContent .active-anchor {
  color: #FFBD00;
  border-bottom: 4px solid #FFBD00;
}
.main #schedule .container .schedule-content .schedule-content-box .navBox nav .navContent a {
  font-family: "Mitr", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  padding: 17px 5px;
  padding-top: 0;
  border-bottom: 4px solid transparent;
  margin-right: 43px;
}
.main #schedule .container .schedule-content .schedule-content-box .navBox nav .navContent a:hover {
  color: #FFBD00;
  border-bottom: 4px solid #FFBD00;
  background: none;
}
.main #schedule .container .schedule-tab-content .row {
  justify-content: center;
}
.main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper {
  padding: 30px 30px;
  background: #0e0e0e;
}
.main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion {
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
.main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion .left-obtion {
  display: flex;
  align-items: center;
}
.main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion .left-obtion .job-title a {
  color: #fff;
  outline: medium none;
}
.main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion .left-obtion .job-title a h4 {
  color: #fff;
  font-family: "Barlow", sans-serif;
  transition: all 0.4s ease-out 0s;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}
.main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion .left-obtion .job-title p {
  margin-bottom: 0;
  color: #9B9EAC;
  font-size: 20px;
  font-weight: 300;
}
.main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion .job-time span {
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

@media (max-width: 1600px) {
  .main #schedule .container {
    max-width: 1440px;
  }
  .main #schedule .container .row {
    width: 100%;
  }
  .main #schedule .container .row .schedule-title-box {
    width: 91%;
  }
  .main #schedule .container .schedule-content .schedule-content-box {
    width: 91.6666666667%;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box {
    width: 91.6666666667%;
  }
}
@media (max-width: 1440px) {
  .main #schedule .container {
    max-width: 1320px;
  }
  .main #schedule .container .schedule-content .schedule-content-box {
    width: 91.6666666667%;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box {
    width: 91.6666666667%;
  }
}
@media (max-width: 1200px) {
  .main #schedule .container {
    max-width: 1160px;
  }
  .main #schedule .container .row .schedule-title-box {
    max-width: 1140px;
  }
  .main #schedule .container .schedule-content .schedule-content-box {
    width: 91.6666666667%;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box {
    width: 91.6666666667%;
  }
}
@media (max-width: 992px) {
  .main #schedule .container {
    max-width: 960px;
  }
  .main #schedule .container .schedule-content .schedule-content-box {
    width: 91.6666666667%;
  }
  .main #schedule .schedule-tab-content .row .tab-box {
    width: 91.6666666667%;
  }
}
@media (max-width: 768px) {
  .main #schedule .schedule-content .schedule-content-box {
    width: 91.6666666667%;
  }
  .main #schedule .container {
    max-width: 720px;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box {
    width: 91.6666666667%;
  }
}
@media (max-width: 576px) {
  .main #schedule .container {
    max-width: 540px;
  }
  .main #schedule .container .schedule-content .schedule-content-box {
    width: 100%;
  }
  .main #schedule .container .schedule-content .schedule-content-box .navBox nav .navContent {
    width: 100%;
  }
  .main #schedule .container .schedule-content .schedule-content-box .navBox nav .navContent a {
    font-size: 16px;
    margin-right: 25px;
    padding: 18px 0px;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box {
    width: 100%;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper {
    padding: 30px 10px;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion .left-obtion .job-title a h4 {
    font-size: 16px;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion .left-obtion .job-title p {
    font-size: 16px;
  }
  .main #schedule .container .schedule-tab-content .row .tab-box .schedule-wrapper .single-item .item-obtion .job-time span {
    font-size: 16px;
  }
}
.main #blog .container .row .single-blog-box {
  display: flex;
}
.main #blog .container .row .single-blog-box .single-blog {
  margin-bottom: 30px;
  padding: 0 10px;
}
.main #blog .container .row .single-blog-box .single-blog:hover .blog-img a img {
  transform: scale(1.05);
}
.main #blog .container .row .single-blog-box .single-blog:hover .blog-caption h5 a {
  color: #FFBD00;
}
.main #blog .container .row .single-blog-box .single-blog .blog-img {
  margin-bottom: 25px;
  width: 100%;
  overflow: hidden;
}
.main #blog .container .row .single-blog-box .single-blog .blog-img a img {
  display: inherit;
  transition: all 0.4s ease-out 0s;
  width: 100%;
}
.main #blog .container .row .single-blog-box .single-blog .blog-caption h5 {
  margin-bottom: 8px;
  line-height: 1.2;
}
.main #blog .container .row .single-blog-box .single-blog .blog-caption h5 a {
  font-family: "Barlow", sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 12px;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
}
.main #blog .container .row .single-blog-box .single-blog .blog-caption p {
  color: #9B9EAC;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
}

@media screen and (min-width: 280px) and (max-width: 576px) {
  .main #blog .container {
    max-width: 540px;
  }
  .main #blog .container .row .single-blog-box {
    display: flex;
    flex-direction: column;
  }
  .main #blog .container .row .single-blog-box .single-blog {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .main #blog .container {
    max-width: 540px;
  }
  .main #blog .container .row .single-blog-box .single-blog {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main #blog .container {
    max-width: 720px;
  }
  .main #blog .container .row .single-blog-box {
    width: 100%;
  }
  .main #blog .container .row .single-blog-box .single-blog {
    width: 50%;
  }
}
@media (min-width: 576px) and (max-width: 769px) {
  .main #blog .container {
    max-width: 720px;
  }
  .main #blog .container .row .single-blog-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .main #blog .container .row .single-blog-box .single-blog {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .main #blog .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .main #blog .container {
    max-width: 1169px;
  }
}
@media (min-width: 1440px) {
  .main #blog .container {
    max-width: 1390px;
  }
}
.main #maps {
  position: relative;
}
.main #maps .map_area {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
}
.main #maps .map-notifi-box {
  background-color: #fff;
  font-weight: 500;
  padding: 15px 25px;
  box-sizing: border-box;
  top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  left: 50%;
  max-width: 375px;
  position: absolute;
  transform: translateX(-50%);
  width: calc(100% - 10px);
  z-index: 1;
}
.main #maps .map-notifi-box .map-logo {
  height: 17px;
  width: 52px;
}
.main #maps .map-notifi-box .warning-info {
  line-height: 20px;
  margin: 15px 0px;
}
.main #maps .map-notifi-box .warning-info span {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}
.main #maps .map-notifi-box .other-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main #maps .map-notifi-box .other-info p a {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}
.main #maps .map-notifi-box .other-info .map-confirm-btn {
  background-color: #fff;
  border: 1px solid #dadce0;
  color: #1a73e8;
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  cursor: pointer;
  padding: 0 24px;
  transition: all 0.3s ease-out 0s;
}
.main #maps .map-notifi-box .other-info .map-confirm-btn:hover {
  color: #fff;
  background-color: #FFBD00;
}
.main #maps .full-screen-button {
  background: none rgb(255, 255, 255);
  border: 0px;
  margin: 10px;
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  overflow: hidden;
  top: 0px;
  right: 0px;
}
.main #maps .full-screen-button img {
  height: 18px;
  width: 18px;
  position: relative;
  top: 1px;
  right: 0.5px;
}

.main #brands {
  padding-top: 100px;
  position: relative;
}
.main #brands .bg-shape {
  position: absolute;
  background-image: url(../images/shape.png.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0;
  left: 0;
  height: 235px;
  width: 100%;
}
.main #brands .container {
  z-index: 99999999;
}
.main #brands .container .brand-row {
  background-color: #0e0e0e;
  padding: 45px 50px;
}
.main #brands .container .brand-row .brand-title h2 {
  color: #fff;
  font-family: "Mitr", sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.main #brands .container .brand-row .swiper-box {
  padding-bottom: 40px;
  padding-top: 50px;
}

@media (min-width: 576px) {
  .main #brands .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .main #brands .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .main #brands .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .main #brands .container {
    max-width: 1190px;
  }
}
@media (min-width: 1400px) {
  .main #brands .container {
    max-width: 1320px;
  }
}/*# sourceMappingURL=index.css.map */