.main{
    #citywide {
        padding-bottom: 120px;
    .container {
        .row {


            .citywide-left {
                width: 56%;
                padding-inline: 16px;

                .citywide-img {
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 556px;
                    }
                }
            }

            .citywide-right {
                width: 44%;
                display: flex;
                padding-inline: 10px;
                align-items: center;

                .citywide-content {
                    margin-bottom: 25px;

                    .citywide-title {
                        @include secondaryHeader;

                        span {
                            color: $generalYellow;
                            display: block;
                        }
                    }

                    p {
                        color: #9B9EAC;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
}

@media (min-width:576px){
    .main{
        #citywide {
        .container {
            max-width: 540px;
            .row {
                .citywide-left {
                    width: 100%;
                }
    
                .citywide-right {
                    width: 100%;
                    .citywide-content{
                      
                        p{
                            margin-bottom: 15px;
                        }
                    }
                   
                }
            }
        }
    }
    }
};

@media (min-width:768px){
    .main{
        #citywide {
        .container {
            max-width: 720px;
            .row {
                .citywide-left {
                    width: 68%;
                }
    
                .citywide-right {
                    width: 78%;
                   
                }
            }
        }
    }
    }
};
@media (min-width:992px){
    .main{
        #citywide {
        .container {
            max-width: 1140px;
            .row {
                
                .citywide-left {
                    width: 50%;
                }
    
                .citywide-right {
                    width: 50%;
                   
                }
            }
        }
    }
    }
};

@media (min-width:1200px){
    .main{
        #citywide {
        .container {
            max-width: 1140px;
            .row {
                .citywide-left {
                    width: 58%;
                }
    
                .citywide-right {
                    width: 41.67%;
                   
                }
            }
        }
    }
    }
};

@media (min-width:1400px){
    .main{
        #citywide {
        .container {
            max-width: 1320px;
            .row {
                .citywide-left {
                    width: 58%;
                }
    
                .citywide-right {
                    width: 33.3%;
                    margin-left: 8.3%;
                }
            }
        }
    }
    }
};





@media (max-width:575px){
    .main{
        #citywide {
        .container {
            max-width: 540px;
            .row {
                .citywide-left {
                    width: 100%;
                }
    
                .citywide-right {
                    width: 100%;
                    .citywide-content{
                        .citywide-title{
                            font-size: 24px;
                        }
                    }
                   
                }
            }
        }
    }
    }
};
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .main{
        #citywide {
        .container {
            
            .row {
              
    
                .citywide-right {
                   
                    .citywide-content{
                        .citywide-title{
                            width: 50%;
                            font-size: 31px;
                        }
                    }
                   
                }
            }
        }
    }
    }
};
@media only screen and (min-width: 767px) and (max-width: 991px){
    .main{
        #citywide {
        .container {
          
            .row {
    
                .citywide-right {
                 
                    .citywide-content{
                        
                        .citywide-title{
                            width: 45%;
                            font-size: 30px;
                        }
                        p{
                            margin-bottom: 15px;
                        }
                    }
                   
                }
            }
        }
    }
    }
};

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        .main{
            #citywide {
            .container {
              
                .row {
                    .citywide-left{
                        .citywide-img{
                            img{
                                margin-bottom: 35px;
                            }
                        }
                    }
        
                    .citywide-right {
                     
                        .citywide-content{
                            
                            .citywide-title{
                                font-size: 31px;
                            }
                            p{
                                margin-bottom: 15px;
                            }
                        }
                       
                    }
                }
            }
        }
        }
    };
    