@import "../../../mixins";

.main {
    #hero {
        .bg-area {
            background-image:
            linear-gradient(to top, rgba(0, 0, 20, 0.86), transparent),
            linear-gradient(to bottom, rgba(0, 0, 20, 0.3), transparent),
            radial-gradient(circle, rgba(255, 255, 255, 0.07344187675070024) 0%, rgba(29, 4, 72, 0.5636379551820728) 100%),
            radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(29, 4, 72, 0) 100%), url(../images/h2_hero1.jpg.webp);
            height: 500px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 999;
            .container {
                .row {
                    justify-content: left;

                    .captionBox {
                        .hero-caption {
                            margin-top: 0px;

                            h2 {
                                @include captionHeader;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .main {
        #hero {
            .bg-area {
                background-attachment: fixed;
             .container {
                    max-width: 720px;
                }
                }
               
            }
        }
    }


@media (min-width: 768px) {
    .main {
        #hero {
            .bg-area {
                .container {
                    max-width: 880px;
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .main {
        #hero {
            .bg-area {
                .container {
                    max-width: 960px;
                }
            }
        }
    }
}
@media (min-width: 1200px) {

    .main {
        #hero {
            .bg-area {
                .container {
                    max-width: 1140px;
                }
            }
        }
    }
};


@media (min-width: 1400px) {

    .main {
        #hero {
            .bg-area {
                
                .container {
                    max-width: 1320px;

                    .row {
                        .captionBox {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:575px) {
    .main {
        #hero {
            .bg-area {
               
                height: 650px;
                background-attachment: fixed;
                background-position: center;
                .container {
                    max-width: 1320px;

                    .row {
                        .captionBox {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}